* {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
body {
    display:flex;
    flex-direction:column;
}

.header,
.top {
    display:flex;
    background-color: #1F2937;
    align-items:center
}

.header {
    justify-content: space-evenly;
}

.left {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}

.right {
    font-size: 18px;
    color:#E5E7EB;
    display:flex;
}

a {
    text-decoration: none;
    color:white
}

ul li {
    list-style-type: none;
}

.lists {
    display:flex;
    gap:30px;
}

.right2 {

}

.image1 {
    width: 600px;
    height: auto;
}

.top {
    justify-content: center;
    padding:30px;
    gap:40px;
    padding-top: 50px;
}

.left2 {
    display:flex;
    flex-direction: column;
    gap:10px;
}

.big {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.small {
    font-size: 18px;
    color: #E5E7EB;
}

.button1 {
    background-color: rgba(108, 147, 255, 0.748);
    color: white;
    border-radius: 5px;
}

.image2 {
    align-items: center;
    width: 100px;
    height:auto
}

.mid1 {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.image3 {
    width: 200px;
    height: 200px;
    border-radius: 25px;
    border:3px solid rgba(108, 147, 255, 0.748);
}

.boxes {
    display: flex;
    gap: 10px;
}

.text {
    text-align: center;
    font-weight:700;
}

.random {
    font-size:30px;
    color:#1F2937;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding:100px
    
}

.real {
    font-size: 36px;
    text-align: center;
}

.author {
    font-weight: 800;
    text-align: right;
    margin-right: 30%;
}